/* Navigation */
.v-application .menu-link {
  color: #000;
  text-decoration: none;
  position: relative;
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 20px;
  height: 3px;
  background: #e35176;
  display: none;
}

.menu-link.nuxt-link-exact-active::after {
  display: block;
}

/* HomeSearch Component */
.search {
  position: relative;
}

.search input {
  border: 2px solid black;
  width: 100%;
  height: 84px;
  padding: 1rem 1rem 1rem 3rem;
  outline: none;
  color: transparent;
}

.search label {
  position: absolute;
  left: calc(50% - 15px);
  bottom: calc(50% - 15px);
  transition: transform ease .3s;
}

.search input:focus {
  color: #000;
  transition: color 0s ease .3s;
}

.search input.blurred {
  color: #000;
}

.search input:focus + label {
  transform: translateX(-120px);
}

.search input.blurred + label {
  transform: translateX(-120px);
}

.v-application .trends a {
  color: #000;
  text-decoration: none;
}

/* Player Component */
.player .progress-line {
  position: absolute;
  bottom: 0;
  left: 12px;
  width: calc(100% - 24px);
}

.player .progress-line .v-progress-linear__background {
  background: #e7eaf2 !important;
  opacity: 1 !important;
}

.player .progress-line .v-progress-linear__determinate {
  background: #e35376 !important;
}

/* Popular Page */
.v-application.popular .global-sidebar {
  background: #211d43 !important;
}

.v-application.popular .global-sidebar .v-icon {
  color: #fff !important;
}

.v-application.popular .page-header .v-toolbar__content {
  padding-top: 0;
  padding-bottom: 0;
}

.v-application.popular .navigation {
  background: #211d43;
  height: 100%;
  display: flex;
  align-items: center;
  width: calc(100% - 575px) !important;
}

.v-application.popular .popular-main {
  background: #211d43;
  height: 100vh;
}

.v-application.popular .popular-sidebar {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.v-application.popular .navigation .v-list {
  background: #211d43;
}

.v-application.popular .navigation .menu-link {
  color: #fff;
}

@media only screen and (max-width: 1300px) {
  .v-application .global-sidebar {
    display: none;
  }

  .v-application .home-header,
  .v-application .page-header {
    left: 0 !important;
    right: 0 !important;
    padding: 0 30px;
    border-color: #fff !important;
    background: #fff !important;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 10%) !important;
  }

  .v-application .home-sidebar {
    margin-top: 130px;
  }

  .v-application .v-main.home-main {
    max-width: calc(100% - 380px) !important;
    padding: 130px 30px 0 30px !important;
  }

  .search-row {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .v-application .search input {
    padding-left: 1rem;
  }

  .search input:focus + label {
    transform: scale(0);
  }
  
  .search input.blurred + label {
    transform: scale(0);
  }

  .home-main .player {
    margin-top: 30px;
    width: 100% !important;
  }

  .home-board-row {
    display: flex;
    flex-direction: column;
  }

  .home-board .left-col {
    margin-bottom: 16px;
    margin-right: 0 !important;
  }

  .home-board .v-card {
    width: auto !important;
  }

  /* Search Page */
  .v-application .v-main.search-main {
    max-width: calc(100% - 430px) !important;
    padding: 130px 30px 0 30px !important;
  } 

  .v-application .article-wrapper {
    max-width: calc(100% - 88px) !important;
  }

  .v-application .article-card .v-card__title {
    font-size: 1.5rem !important; 
  }

  .article-card .v-toolbar__content {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 800px) {
  .v-application .home-sidebar,
  .v-application .search-sidebar {
    position: relative;
    width: 100% !important;
    height: auto !important;
  }

  .v-application .home-sidebar .v-navigation-drawer__content,
  .v-application .search-sidebar .v-navigation-drawer__content {
    max-width: 360px;
    margin: 0 auto;
  }

  .v-navigation-drawer__content::-webkit-scrollbar{
    width: 0px;
  }

  .v-application .v-main.home-main,
  .v-application .v-main.search-main {
    max-width: 100% !important;
    padding-top: 0 !important;
    padding-bottom: 5rem !important;
  }

  .v-application .v-main.search-main {
    padding-top: 24px !important;
  }

  .search-sidebar .podcast-wrapper {
    width: 100% !important;
    max-width: 300px;
    position: relative !important;
    left: 0 !important;
  }

  .search-sidebar .link-holder {
    margin-top: 24px !important;
  }
}

@media only screen and (max-width: 600px) {
  .v-application .page-header .v-toolbar__content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .v-application .page-header .navigation {
    width: 100%;
  }

  .page-header .navigation .v-item-group {
    display: flex;
    justify-content: space-around;
  }

  .page-header .navigation .v-item-group a {
    margin-right: 0 !important;
  }

  .v-application .article-card .v-card__title,
  .v-application .article-card .v-card__text {
    margin-right: -88px !important;
    width: auto;
  }
}

@media only screen and (max-width: 400px) {
  .v-application .search-sidebar .v-navigation-drawer__content {
    max-width: 280px;
  }

  body .v-application .menu-link {
    margin-right: 1.5rem !important;
  }

  .v-application .design-card .v-card__actions {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}